<main>
  <div class="perfil-container">
    <div class="perfil-card">

      <div class="perfil-left">
        <div class="foto-wrapper">

          <!-- Aqui uso o operador (OU) para decidir qual imagem mostrar:
          1. Se previewImagem existir (usuário escolheu uma foto) = MOSTRA ELA
          2. Se não, tenta perfilImagem (foto que veio do backend) = MOSTRA ELA
          3. Se não tem nenhuma das duas = MOSTRA a imagem padrão -->

       <img [src]="previewImagem || perfilImagem || 'assets/default-avatar.png'" alt="Foto de perfil">

          <!-- Input invisível que abre o seletor de arquivos
          accept="image/*" = só aceita imagens (jpg, png, etc)
          (change) = quando o usuário escolher um arquivo, chama a função trocarFoto()-->

        <input type="file" accept="image/*" (change)="trocarFoto($event)">
        </div>

        <h2 class="nome-user">{{ usernameUsario }}</h2>
        <p class="seguidores">
          Seguidores: {{ seguidores }} / Seguindo {{ seguindo }}
        </p>
      </div>

      <div class="perfil-right">

        <!-- ABAS -->
        <div class="abas">
          <button [class.ativo]="abaAtiva === 'livrosLidos'" (click)="mudarAba('livrosLidos')">
            Livros Lidos
          </button>

          <button [class.ativo]="abaAtiva === 'queroLer'" (click)="mudarAba('queroLer')">
            Quero ler
          </button>

          <button [class.ativo]="abaAtiva === 'estouLendo'" (click)="mudarAba('estouLendo')">
            Estou lendo
          </button>

          <!-- MUDOU AQUI: Reviews virou Seguindo e agora navega -->
          <button routerLink="/seguindo">
            Seguindo
          </button>
        </div>

        <!-- LISTA LIVROS -->
        <div class="lista-livros">

          <div class="livro" *ngFor="let livro of livrosFiltrados">
            <img [src]="livro.capa" [alt]="livro.titulo">

            <div class="info-livro">
              <h3>{{ livro.titulo }}</h3>

              <div class="stars">
                <span *ngFor="let star of [1,2,3,4,5]" [class.filled]="star <= livro.avaliacao">
                  ★
                </span>
              </div>
            </div>
          </div>

          <div class="no-books" *ngIf="livrosFiltrados.length === 0">
            <p>Nenhum livro encontrado nesta categoria.</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</main>