<div class="home">
  <div class="background-stars"></div>

  
  <section class="home-content">
    <div class="home-text">
      <h1>Conectando você ao <br> próximo capítulo.</h1>
      <button class="btn-signup" routerLink="/cadastro">Cadastre-se</button>
    </div>
  </section>

  
  <!--Spot dos livros-->
  

<div class="carousel-wrapper">
  <div class="carousel-track track-left">
    <ng-container *ngFor="let livro of livrosPopulares">
      <div class="book-item">
        <img [src]="livro.img" alt="Livro Popular">
      </div>
    </ng-container>

    <ng-container *ngFor="let livro of livrosPopulares">
      <div class="book-item">
        <img [src]="livro.img" alt="Livro Popular">
      </div>
    </ng-container>
  </div>
</div>


<div class="carousel-wrapper">
  <div class="carousel-track track-right">
    <ng-container *ngFor="let livro of livrosPremiados">
      <div class="book-item">
        <img [src]="livro.img" alt="Livro Premiado">
      </div>
    </ng-container>

    <ng-container *ngFor="let livro of livrosPremiados">
      <div class="book-item">
        <img [src]="livro.img" alt="Livro Premiado">
      </div>
    </ng-container>
  </div>
</div>




  <!-- Desenvolvedores -->
  <section class="developers-section">
    <h2>Desenvolvedores:</h2>
    <div class="developers-grid">
      <div class="developer-card">
        <img src="/Allan Lopes.jpg" alt="Allan Lopes">
        <p>Allan Lopes</p>
      </div>
      <div class="developer-card">
        <img src="/Ana Carolina.jpg" alt="Ana Carolina Souza">
        <p>Ana Carolina Souza</p>
      </div>
      <div class="developer-card">
        <img src="/Lethicia-Nobre.png" alt="Lethicia Nobre">
        <p>Lethicia Nobre</p>
      </div>
      <div class="developer-card">
        <img src="/Thalyta Cristina.jpg" alt="Thalyta Cristina">
        <p>Thalyta Cristina</p>
      </div>
    </div>
  </section>
</div>


