html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #EEEEDD;
  overflow: hidden;
  /* Não deixa a tela rolar */
}

/* Fundo de estrelas repetido */
.background-pattern {
  position: fixed;
  inset: 0;
  background-image: url('/background-star.png');
  background-size: 500px;
  background-repeat: repeat;
  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
}

/* Centraliza perfeitamente o formulário */
main {
  position: fixed;
  inset: 0;
  padding-top: 135px;
  /* ajuste conforme o tamanho do seu header */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* alinha no topo */
  z-index: 1;
}

/* Caixa igual ao Figma */
.form-box {
  background-color: #1B2F26;
  padding: 45px 50px 45px 45px;
  /* <-- AUMENTA esquerda, DIMINUI direita */
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Título */
.titulo {
  color: #EEEEDD;
  text-align: center;
  font-size: 26px;
  margin-bottom: 28px;
}

/* Campos */
.form-field {
  margin-bottom: 18px;
}

.form-field input {
  width: 95%;
  /*MUDA OS BUTON DE DENTRO*/
  padding: 12px;
  background-color: #2D4339;
  border: 1px solid #3A5046;
  border-radius: 6px;
  color: #EEEEDD;
  font-size: 14px;
}

.form-field input::placeholder {
  color: rgba(238, 238, 221, 0.6);
}

/* Checkbox */
.checkbox-field {
  display: flex;
  gap: 8px;
  margin: 14px 0 20px;
}

.checkbox-field input {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.checkbox-field label {
  font-size: 12px;
  color: #EEEEDD;
}

/* Botão */
button {
  width: 100%;
  padding: 14px;
  background-color: #EEEEDD;
  color: #1B2F26;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #DDD9CB;
}

/* Link */
.login-link {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
  color: #EEEEDD;
}

.login-link a {
  color: #EEEEDD;
  text-decoration: underline;
}

