html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EEEEDD;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}


.background-stars {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background-star.png');
  /* IMPORTANTE: caminho correto */
  background-repeat: repeat;
  background-size: 500px;
  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
}


.container-login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 215px;           /* distância abaixo do header */
  min-height: 100vh;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.login-box {
  background-color: #092A23;
  /* mesma cor do cadastro */
  width: 480px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color: white;

}

.login-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}
/* Garante que largura 100% seja REAL, sem somar padding */
* {
  box-sizing: border-box;
}

/* Inputs do login */
.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;    
  padding: 14px;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #113C33;
  color: white;
  font-size: 15px;
  display: block;
}


.checkbox-termos {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 12px;
  color: #ddd;
}

.checkbox-termos a {
  color: #a0c4ff;
}

.login-box button {
  width: 100%;
  margin-top: 25px;
  padding: 13px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  background-color: #F2F1D1;
  cursor: pointer;
}

.login-box button:disabled {
  background-color: #c5c5a3;
  cursor: not-allowed;
}

.cadastro-link {
  margin-top: 15px;
  font-size: 13px;
}

.cadastro-link a {
  color: #a0c4ff;
}